<ion-header>
  <ion-navbar>
    <button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{tituloPagina}}
      <ion-icon name="link" style="text-align: end; float: right;" [hidden]="!link" color=sol block></ion-icon>
    </ion-title>
  </ion-navbar>

  <!--ion-card>
    <ion-item>
      <ion-label style="font-size: 14px">Temporizador</ion-label>
      <ion-toggle color="secondary" (ionChange)="ligarDesligarTemporizador()" [ngModel]="ligado"></ion-toggle>
    </ion-item>
  </ion-card-->

  <ion-toolbar>
    <ion-segment [disabled] = "!ligarLuminaria || tempestadeLigada" [(ngModel)]="segmento" (click)="ligarDesligarTemporizador()" color="light">
      <ion-segment-button value="Manual">
        <ion-icon name="hand"></ion-icon>
        Manual
      </ion-segment-button>
      <ion-segment-button value="Temporizado">
        <ion-icon name="clock"></ion-icon>
        Temporizado
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<!--MANUAL-->
<ion-content [hidden]="ligado" class="bodyIonicApp">

  <!--div class="divGraficoPresets">
    <table style="text-align: center;">
      <tr>
        <th>A {{((this.presets[this.presets.length -1].ledA/1024)*100) | number: '1.0-0'}} %</th>
        <th>B {{((this.presets[this.presets.length -1].ledB/1024)*100) | number: '1.0-0'}} %</th>
        <th>C {{((this.presets[this.presets.length -1].ledC/1024)*100) | number: '1.0-0'}} %</th>
      </tr>
      <tr>
        <td>
          <canvas #graph baseChart height="60" width="50" [data]="doughnutChartDataA" [chartType]="doughnutChartTypeA" [colors]="doughnutChartColorsA"
            [options]="doughnutChartOptions" (chartClick)="chartClicked(0)">
          </canvas>
        </td>
        <td>
          <canvas #graph baseChart height="60" width="50" [data]="doughnutChartDataB" [chartType]="doughnutChartTypeB" [colors]="doughnutChartColorsB"
            [options]="doughnutChartOptions" (chartClick)="chartClicked(1)">
          </canvas>
        </td>
        <td>
          <canvas #graph baseChart height="60" width="50" [data]="doughnutChartDataC" [chartType]="doughnutChartTypeC" [colors]="doughnutChartColorsC"
            [options]="doughnutChartOptions" (chartClick)="chartClicked(2)">
          </canvas>
        </td>
      </tr>
    </table>
  </div-->

  <div class="divGraficoPresets">
      <table align="center">          
        <tr>          
          <td *ngFor = "let grafico of graficos; let ix = index">
          <circle-progress (click)="chartClicked(ix)" 
          [backgroundColor] ="grafico.backgroundColor"
          [backgroundPadding]="grafico.backgroundPadding"
          [backgroundStrokeWidth]="grafico.backgroundStrokeWidth"
          [backgroundOpacity] ="grafico.backgroundOpacity"
          [showBackground] ="grafico.showBackground"
          [percent]="grafico.percentCanalManual"
          [radius]="grafico.radiusManual"
          [space]="grafico.space"
          [outerStrokeWidth]="grafico.outerStrokeWidth"
          [innerStrokeWidth]="grafico.innerStrokeWidthMaual"          
          [innerStrokeColor]="grafico.innerStrokeColor"
          [showInnerStroke]="grafico.showInnerStrokeManual"
          [outerStrokeColor]="grafico.corCanal"
          [animation]="grafico.animation"
          [animationDuration]="grafico.animationDuration"
          [showTitle]="grafico.showTitle"
          [titleFontSize]="grafico.titleFontSizeManual"
          [titleColor] =  "grafico.titleColor"
          [subtitle] = "grafico.subtitle"
          [subtitleColor] = "grafico.subtitleColor"
          [subtitleFontSize] = "grafico.subtitleFontSizeManual"
          [showSubtitle]="grafico.showSubtitleManual"
          [responsive]="grafico.responsive"
          [outerStrokeLinecap]="grafico.outerStrokeLinecap"   
          [unitsColor] = "grafico.unitsColor"       
          ></circle-progress>
          </td>
        </tr>
        </table>
  </div>

  <ion-slides pager class="ionSlidePresets">
    <ion-slide *ngFor = "let grafico of graficos; let ix = index">
      <ion-item-group class="slideCanal{{ix+1}}"> 
        <div class="listra"></div>
        <ion-label style="margin-top: 10px;"> Canal {{grafico.numeroCanal}}: {{grafico.percentCanalManual | number: '1.0-0'}} %</ion-label>
        <ion-range min="0" max="1024" step="51.2" snaps="true" mode=ios
        [disabled]="!botaoEditarSalvar || !ligarLuminaria" debounce="150" 
        [(ngModel)]="this.presets[this.presets.length - 1][grafico.nomeCanal]"
          (ionChange)="regularLeds()">
          <ion-icon range-left small name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item-group>
    </ion-slide>    
  </ion-slides>

  <button [disabled] = "!ligarLuminaria || tempestadeLigada" ion-button full color="dark" (click)="estadoEditarSalvar()" [hidden]="botaoEditarSalvar" round>
    <ion-icon range-right style="margin-right: 10px;" name="build"></ion-icon>
    Editar 
  </button>
  <button [disabled] = "!ligarLuminaria || tempestadeLigada" ion-button full color="secondary" (click)="salvarRegulagemLedsJSON()" [hidden]="!botaoEditarSalvar" round>
    <ion-icon range-right style="margin-right: 10px;" name="cloud-upload"></ion-icon>
    Salvar
  </button>
</ion-content>

<!--TEMPORIZADO-->
<ion-content padding [hidden]="!ligado" class="bodyIonicApp">

  <button ion-button (click)="addPreset()" round color=primary [disabled]="presets.length >= 12 || !ligarLuminaria">
    <ion-icon name="add-circle" item-start></ion-icon>
    <ion-icon name="timer" item-end style="margin-left: 100%;"></ion-icon>
  </button>

  <button ion-button (click)="delPreset()" round color=danger [disabled]="presets.length <= 2 || !ligarLuminaria" style="float: right;">
    <ion-icon name="remove-circle" item-start></ion-icon>
    <ion-icon name="timer" item-end style="margin-left: 100%;"></ion-icon>
  </button>

  <ion-list>
    <button [disabled] = "!ligarLuminaria || tempestadeLigada" class=botoes ion-item *ngFor="let preset of presetsList; let ix = index" (click)="abrirPaginaPreset(ix)">
      <table style="text-align: center;">
      <tr>     
      <td>
          {{(ix + 1)}} - Início: {{preset.hora}} -         
      </td>
      <td *ngFor = "let grafico of graficos; let jx = index">
      <circle-progress *ngIf="presetsList != null"
      [percent]="(presetsList[ix][grafico.nomeCanal]/1024)*100"
      [backgroundColor] = "grafico.backgroundColor"
      [backgroundPadding]="grafico.backgroundPadding"          
      [backgroundStrokeWidth]="grafico.backgroundStrokeWidth"
      [backgroundOpacity] = "grafico.backgroundOpacity"
      [showBackground] = "grafico.showBackground"
      [radius]="grafico.radius"
      [space]="grafico.space"
      [outerStrokeWidth]="grafico.outerStrokeWidth"
      [innerStrokeWidth]="grafico.innerStrokeWidth"          
      [innerStrokeColor]= "grafico.innerStrokeColor"
      [showInnerStroke]="grafico.showInnerStroke"
      [outerStrokeColor]="grafico.corCanal"
      [animation]="grafico.animation"
      [animationDuration]="grafico.animationDuration"
      [showTitle]="grafico.showTitle"
      [titleFontSize]="grafico.titleFontSize"
      [titleColor] = "grafico.titleColor"
      [showSubtitle]="grafico.showSubtitle"
      [responsive]="grafico.responsive"
      [outerStrokeLinecap]="grafico.outerStrokeLinecap"   
      [unitsColor] = "grafico.unitsColor"       
      ></circle-progress>
      </td>      
    </tr>
    </table>
    </button>
  </ion-list>
</ion-content>