<ion-header>
  <ion-navbar>
    <ion-title>
      Ajuda
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="fechar()">
        <!--span ion-text showWhen="ios" style="color: white">Fechar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon-->
        Fechar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager class="aboutPageSlide">
    <ion-slide>
      Página Home:
      <br/> Nesta página é exibido o nome da luminária conectada.
      <br/> Também é exibida a temperatura da luminária em tempo real, caso o usuário opte por adquirir o sensor.
    </ion-slide>
    <ion-slide>
      2
    </ion-slide>
    <ion-slide>
      3
    </ion-slide>
    <ion-slide>
      4
    </ion-slide>
    <ion-slide>
      5
    </ion-slide>
    <ion-slide>
      6
    </ion-slide>
    <ion-slide>
      7
    </ion-slide>
    <ion-slide>
      8
    </ion-slide>
    <ion-slide>
      9
    </ion-slide>
    <ion-slide>
      10
    </ion-slide>
    <ion-slide>
      11
    </ion-slide>
    <ion-slide>
      12
    </ion-slide>
    <ion-slide>
      13
    </ion-slide>
    <ion-slide>
      14
    </ion-slide>
    <ion-slide>
      15
    </ion-slide>
    <ion-slide>
      16
    </ion-slide>
    <ion-slide>
      17
    </ion-slide>
    <ion-slide>
      18
    </ion-slide>
    <ion-slide>
      19
    </ion-slide>
    <ion-slide>
      20
    </ion-slide>
    <ion-slide>
      21
    </ion-slide>
    <ion-slide>
      22
    </ion-slide>
    <ion-slide>
      23
    </ion-slide>
  </ion-slides>


</ion-content>