<ion-header>

  <ion-navbar>
    <ion-title>Twin Star</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="bodyIonicApp">
  <ion-list>
    <ion-item class=buttonTime>      
      <ion-label color="branco">Duração (mm:ss):</ion-label>
      <ion-datetime doneText="Selecionar" cancelText="Cancelar" displayFormat="HH:mm:ss" pickerFormat="mm ss" placeHolder="mm:ss"
        [(ngModel)]="tempoFuncionamento" (ionChange)="tempoTwinStar()"></ion-datetime>
    </ion-item>
    <ion-item class=buttonTime>      
      <ion-label color="branco">Intervalo (HH:mm:ss):</ion-label>
      <ion-datetime doneText="Selecionar" cancelText="Cancelar" displayFormat="HH:mm:ss" [(ngModel)]="tempoIntervalo" (ionChange)="intervaloTwinStar()"></ion-datetime>
    </ion-item>
    <ion-item class=botoes>
      <ion-range [disabled]=ligarDesligar min="250" max="750" step="250" snaps="true" [disabled]="!botaoEditarSalvar || !ligarLuminaria"
        mode=ios [(ngModel)]="valorIntensidade" (ionChange)="ajustarIntensidade(valorIntensidade)">
        <ion-icon range-left small name="flash" color="sol"></ion-icon>
        <ion-icon range-right name="flash" color="sol"></ion-icon>
      </ion-range>
      <ion-label>Intensidade: {{intensidade}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ligar / Desligar</ion-label>
      <ion-toggle (ionChange)="ligarDesligarTwinStar()" [ngModel]="ligarDesligar" [disabled]="msFuncionamento <= 0 ? true : false"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>