page-twinstar {

}

.buttonTime {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  /*background: linear-gradient(180deg,#aee 0%,#8cc 49%,#599 51%,#8cc 100%);*/
  background: linear-gradient(180deg,#cccccc 0%,#8c8c8c 49%,#3b3b3b 51%,#505050 100%);
  border-radius: 5px;
  border: 1px solid #6aa;
  border-width: 1px 1px 1px 1px;
  padding: 10px 20px 10px 20px;
  /*box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);*/
  box-shadow: inset 0px 1px 0px #ffffff,0px 1px 3px rgba(0%,0%,0%,0.3);
    color: #fff;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4)
  }
  .buttonTime > div {
    color: #fff;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
  }
  .buttonTime > i {
    font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: static
  }
  .buttonTime > .ld {
    font-size: initial
  }

  