<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Principal" tabIcon="home"></ion-tab>  
  <ion-tab [root]="tab2Root" tabTitle="Luminária" tabIcon="sunny" *ngIf = "canaisLuminaria > 0"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="+Funções" tabIcon="apps" *ngIf = "itensMenu > 0"></ion-tab>  
  <ion-tab [root]="tab4Root" tabTitle="Config" tabIcon="cog" *ngIf = "dummy"></ion-tab>
</ion-tabs>
