<!--
  Generated template for the ResetValoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerIonicApp">

  <ion-navbar>
    <ion-title>resetValores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
