<ion-header>
  <ion-navbar>
    <button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alarme de Temperatura</ion-title>    
  </ion-navbar>
</ion-header>

<ion-content padding class="bodyIonicApp">

  <ion-card>
    <ion-card-header>
      Alarme de Temperatura
    </ion-card-header>

    <ion-item>
      Emite alertas sobre a variação
      <br/>da temperatura, conforme
      <br/>estabelecido abaixo.

    </ion-item>

    <!--ion-item>
      <ion-label>Notificação por e-mail</ion-label>
      <ion-toggle color="primary" (ionChange)="ligarDesligarAlarmeEmail()" [ngModel]="emailLigado"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label floating>email (obrigatório)</ion-label>
      <ion-input [(ngModel)]="email" [disabled]="!emailLigado" type="email"></ion-input>
    </ion-item-->
    <ion-list>
      <ion-item>
        <ion-label>Notificação Push</ion-label>
        <ion-toggle color="secondary" [(ngModel)]="ligado" (ngModelChange)="ligarDesligarAlarme()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-icon name="thermometer" color="primary" item-left></ion-icon>
        <ion-label>Temp. Mínima</ion-label>
        <ion-multi-picker [(ngModel)]="tempMin" (ionChange)="checarTemperaturasMin()" [disabled]="!ligado" item-content [multiPickerColumns]="temperaturas"
          #tempMinOpt cancelText="Cancelar" doneText="Selecionar"></ion-multi-picker>
      </ion-item>

      <ion-item>
        <ion-icon name="thermometer" color="danger" item-left></ion-icon>
        <ion-label>Temp. Máxima</ion-label>
        <ion-multi-picker [(ngModel)]="tempMax" (ionChange)="checarTemperaturasMax()" [disabled]="!ligado" item-content [multiPickerColumns]="temperaturas"
          #tempMaxOpt cancelText="Cancelar" doneText="Selecionar"></ion-multi-picker>
      </ion-item>
    </ion-list>
    <!--ion-item>
      <button [disabled]="(tempMax == tempMaxAtual) 
      && (tempMin == tempMinAtual) 
      && (validacaoEmail == validacaoEmailAtual)" ion-button icon-left full color="primary" (click)="salvarAlarme()">
        <ion-icon name="thermometer"></ion-icon>
        Salvar Alarme
      </button>
    </ion-item-->
  </ion-card>
</ion-content>