<ion-header>

  <ion-navbar>
    <button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configurações</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bodyIonicApp">

  <ion-list>
    <button class=botoes ion-item (click)="abrirPaginaFusoHora()">
      <ion-icon name="time" item-start></ion-icon>
      Hora
    </button>
    <button class=botoes [hidden]="!mostrarTemperatura" ion-item (click)="abrirPaginaAlertas()">
      <ion-icon name="alert" item-start></ion-icon>
      Alertas
    </button>
    <button class=botoes ion-item (click)="abrirPaginaRestaurar()">
      <ion-icon name="nuclear" item-start></ion-icon>
      Restaurar
    </button>
    <button class=botoes ion-item (click)="abrirPaginaInfoLuminaria()">
      <ion-icon name="information-circle" item-start></ion-icon>
      Informações da Central
    </button>
    <button class=botoes ion-item (click)="abrirPaginaProcurarLuminarias()">
      <ion-icon name="bulb" item-start></ion-icon>
      Adicionar/Remover Central
    </button>
  </ion-list>

</ion-content>