<ion-header>

  <ion-navbar>
    <ion-title>
      Tempestade
      <ion-icon name="link" style="text-align: end; float: right; " [hidden]="!link" color=sol block></ion-icon>
    </ion-title>
  </ion-navbar>

  <!--ion-toolbar>
    <ion-segment [(ngModel)]="segmento" (ionChange)="ligarDesligarTemporizador()" color=dark>
      <ion-segment-button value="Manual">
        <ion-icon name="hand" color=dark></ion-icon>
        Manual
      </ion-segment-button>
      <ion-segment-button value="Temporizada">
        <ion-icon name="clock" color=dark></ion-icon>
        Temporizada
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar-->
</ion-header>


<ion-content padding [hidden]="false" class="bodyIonicApp">
  <ion-list>
    <ion-item-group>
      <ion-item-divider color=dark style="color: rgb(255, 255, 255)">Acionamento Manual</ion-item-divider>
      <ion-item>
        <ion-label>Ligar/Desligar</ion-label>
        <ion-toggle [disabled]="!ligarLuminaria" (ionChange)="ligarDesligarTemp()" [(ngModel)]="tempestade"></ion-toggle>
      </ion-item>
    </ion-item-group>

    <ion-item-group style="background: linear-gradient(to right, rgb(135, 135, 145), rgb(72, 72, 99))">
      <ion-item-divider color=dark style="color: white">Modo: {{modoTempestade}}</ion-item-divider>
      <ion-range (ionChange)="nomeModo(mode)" [disabled]="tempestade" min="0" max="2" step="1" snaps="true" 
      [(ngModel)]="mode" mode=ios>
        <ion-icon range-left small name="thunderstorm"></ion-icon>
        <ion-icon range-right name="thunderstorm"></ion-icon>
      </ion-range>
    </ion-item-group>


  </ion-list>
</ion-content>

<!--TEMPORIZADO-->
<ion-content padding [hidden]="true" class="bodyIonicApp">

</ion-content>