page-home {   
    
}

.home{
    background-color:lightgray;
}

.item .item-content{
    background-color: transparent !important;
}

.bkgLinhaTransp{
    text-align: center;     
}

.bkgLinhaCor{
    text-align: center; 
    background-color: rgb(91, 115, 167);    
}