<ion-header>
  <ion-navbar>
    <button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Página inicial</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bodyIonicApp">

  <ion-grid *ngIf="canaisLuminaria > 0">
    <!--ion-row style="background-color: rgb(48, 69, 114); height: 30px;">
          <ion-label style="text-align: center; color: white; font-size: 18px; margin: 5px 15px 15px 15px">Luminária</ion-label>
        </ion-row-->
    <ion-row style="background-color: rgb(48, 69, 114); display: flex; align-content: center !important; align-items: center !important;">
      <ion-icon style="font-size: 2.6em !important; margin-left: 10px" name=bulb color=sol block [hidden]="!ligarLuminaria"></ion-icon>
      <ion-icon style="font-size: 2.6em !important; margin-left: 10px" name=bulb color=dark block [hidden]="ligarLuminaria"></ion-icon>
      <ion-toggle [disabled]="tempestadeLigada" style="color: white;" color=sol (ionChange)="ligarDesligarLuminaria()" [ngModel]="ligarLuminaria"></ion-toggle>
      <ion-label style="color: white;" style="color: white;">Luminária</ion-label>
      <ion-label style="color: white; margin-left: 0;" [hidden]="!ligarLuminaria">Ligada</ion-label>
      <ion-label style="color: white;" [hidden]="ligarLuminaria">Desligada</ion-label>
    </ion-row>
  </ion-grid>

  <ion-grid full style="text-align: center">
    <ion-row>
      <ion-col style="width: 100%">
        <ion-chip color=dark style="font-size: 20px;">
          <ion-label>{{nome}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="width: 100%">
        <ion-chip start [hidden]="!mostrarTemperatura">
          <ion-icon name="thermometer" [hidden]="tempMax > temperatura" color="danger"> </ion-icon>
          <ion-icon name="thermometer" [hidden]="tempMax < temperatura || tempMin > temperatura" color="dark"> </ion-icon>
          <ion-icon name="thermometer" [hidden]="tempMin < temperatura" color="primary"> </ion-icon>
          <ion-label style="font-size: 18px; margin-left: 5px;">{{temperatura}} ° C</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="nomesLuminarias.length < 2">
      <ion-col>
        <button ion-button round color="primary" (click)="alertaSelecionarLuminarias()" color=sol>
          <ion-icon name="link" start style="margin-right: 8px;"></ion-icon>
          Sincronizar luminárias
        </button>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="timer || canaisLuminaria <= 0" style="text-align: center; background-color: rgb(91, 115, 167);">
      <ion-col>
        Modo: Manual
        <ion-icon name="hand" start style="margin-right: 8px;"></ion-icon>
        <ion-icon name="link" style="text-align: end; float: right; " [hidden]="!link" color=sol block></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="!timer || canaisLuminaria <= 0" style="text-align: center; background-color: rgb(91, 115, 167);">
      <ion-col>
        Modo: Temporizado
        <ion-icon name="clock" start style="margin-right: 8px;"></ion-icon>
        <ion-icon name="link" style="text-align: end; float: right; " [hidden]="!link" color=sol block></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="canaisLuminaria > 0 ? bkgLinhaCor : bkgLinhaTransp">
      <ion-col>
        <table align="center">
          <tr>
            <td *ngFor="let grafico of graficos">
              <circle-progress [backgroundColor]="grafico.backgroundColor" [backgroundPadding]="grafico.backgroundPadding" [backgroundStrokeWidth]="grafico.backgroundStrokeWidth"
                [backgroundOpacity]="grafico.backgroundOpacity" [showBackground]="grafico.showBackground" [percent]="grafico.valorCanal"
                [radius]="grafico.radius" [space]="grafico.space" [outerStrokeWidth]="grafico.outerStrokeWidth" [innerStrokeWidth]="grafico.innerStrokeWidth"
                [innerStrokeColor]="grafico.innerStrokeColor" [showInnerStroke]="grafico.showInnerStroke" [outerStrokeColor]="grafico.corCanal"
                [animation]="grafico.animation" [animationDuration]="grafico.animationDuration" [showTitle]="grafico.showTitle"
                [titleFontSize]="grafico.titleFontSize" [titleColor]="grafico.titleColor" [subtitle]="grafico.subtitle" [subtitleColor]="grafico.subtitleColor"
                [subtitleFontSize]="grafico.subtitleFontSize" [showSubtitle]="grafico.showSubtitle" [responsive]="grafico.responsive"
                [outerStrokeLinecap]="grafico.outerStrokeLinecap" [unitsColor]="grafico.unitsColor"></circle-progress>
            </td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="!timer" class="canaisLuminaria > 0 ? bkgLinhaCor : bkgLinhaTransp">
      <ion-col>
        Próximo ajuste: {{proxHorario}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--button ion-button block color="primary" (click)="testeConverterHora()">
    Converter Hora
  </button-->

  <!--button ion-button block color="secondary" (click)="testeConverterMs()">
    Converter Hora
  </button-->

  <!--button ion-button full color="dark" (click)="mudarIP()" round>
    <ion-icon name="planet" style="text-align: start;"></ion-icon>
    Mudar IP
  </button-->

  <!--button ion-button full color="dark" (click)="abrirAjuda(5)" round>
    <ion-icon name="help" style="text-align: start;"></ion-icon>
    Abrir Ajuda
  </button-->

  <!--ion-fab left bottom>
    <button ion-fab color="light">
      <ion-icon name="help"></ion-icon>
    </button>
    <ion-fab-list side="right">
      <button ion-fab (click)="abrirAjuda(0)">
        <ion-icon name="home"></ion-icon>
      </button>
      <button ion-fab (click)="abrirAjuda(2)">
        <ion-icon name="sunny"></ion-icon>
      </button>
      <button ion-fab (click)="abrirAjuda(5)">
        <ion-icon name="rainy"></ion-icon>
      </button>
      <button ion-fab (click)="abrirAjuda(7)">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab-->

</ion-content>