<ion-header>

  <ion-navbar>
    <button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>+Funções</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bodyIonicApp">
  <ion-list>
    <button ion-item class=botoes (click)="abrirPaginaEfeitos()" *ngIf = "luminaria > 0">
      <ion-icon name="cloudy" item-start></ion-icon>
      Efeitos
    </button>
 
    <button ion-item class=botoes (click)="abrirPaginaTwinStar()" *ngIf = "twinstar">
      <ion-icon name="star-half" item-start></ion-icon>
      Twin Star
    </button>
 
    <button ion-item class=botoes (click)="abrirPaginaAlimentador()" *ngIf = "feeder">
      <ion-icon name="color-fill" item-start></ion-icon>
      Alimentador
    </button>

    <button ion-item class=botoes (click)="abrirPaginaCamaraUV()" *ngIf = "uv">
      <ion-icon name="water" item-start></ion-icon>
      Câmara UV
    </button>

    <button ion-item class=botoes (click)="abrirPaginaSensorPh()" *ngIf = "sensorPh">
      <ion-icon name="water" item-start></ion-icon>
      Sensor de PH
    </button>

    <button ion-item class=botoes (click)="abrirPaginaSensorNivel()" *ngIf = "sensorNivel">
      <ion-icon name="water" item-start></ion-icon>
      Sensor de nível da água
    </button>
  </ion-list>
</ion-content>
