<!--ion-header>

  <ion-navbar>
    <ion-title>Luminária indisponível!</ion-title>
  </ion-navbar>

</ion-header-->


<ion-content padding text-center class="paginaIndisponivel">

  <!--ion-img style="margin-top: 80px; background: transparent !important;" 
    width = "192" height = "192" src="assets/imgs/connecting.png"></ion-img-->

  <!--p class="texto">      
      Não foi possível se comunicar com a luminária.<br/> 
      Por favor, verifique se ela encontra-se ligada e conectada a rede wifi.
  </p-->

</ion-content>