// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  amarelo:     #e3f825,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  sol: #f5ad13,
  appDark: rgb(39, 37, 38),
  manha: rgb(79, 249, 255),
  tarde: rgb(70, 144, 255),
  noite: rgb(64, 0, 148),
  fundoApp: rgb(80, 104, 102),
  branco: white
);

$toolbar-background: rgb(39, 37, 38);

$tabs-md-tab-icon-color-active: #f4f4f4;
$tabs-md-tab-text-color-active: #f4f4f4;
$tabs-md-tab-icon-color: rgb(170, 183, 190);
$tabs-md-tab-text-color: rgb(170, 183, 190);
$tabs-ios-tab-icon-color-active: #f4f4f4;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
