// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.alertCustomCss{
    .alert-title {
        color:white;
    }
    .alert-message {
        color: white;
    }
    .alert-wrapper {
        background-color: color($colors, appDark, base);
    }    
}

.alert-md .alert-checkbox-label {
    color: white;
}

.alert-md [aria-checked=true] .alert-checkbox-label {    
    color:whitesmoke !important;
}

.alert-md [aria-checked=true] .alert-checkbox-icon {    
    border-color: color($colors, sol, base) !important;
    background-color: color($colors, sol, base) !important;
}

.alertCustomCssButtons {
    color: white;
}

.bodyIonicApp{
    /*background-color: rgb(14, 170, 194);)*/
    background-color: rgb(73, 142, 206);    
}

.menu{
    background-color: rgb(170, 183, 190);
}

.botoes{
    background-color: rgb(91, 115, 167);
    color: white;
}

.botoesMenu{
    background-color: rgb(91, 115, 167);
    color: white;
}

.botoesMenu:disabled, .botoesMenu[disabled]{
    background-color: color($colors, sol, base);;
    color: white;
    opacity: 1;
}

.fechar{
    background-color: rgb(53, 52, 52);
    color: white;
}

.tabs .tabbar {
    background-color: color($colors, appDark, base);
}