<ion-header>

  <ion-navbar>
    <button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Efeitos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bodyIonicApp">
  <ion-list>
    <button ion-item class=botoes (click)="abrirPaginaTemp()">
      <ion-icon name="thunderstorm" item-start></ion-icon>
      Tempestade
    </button>
  </ion-list>
</ion-content>