<ion-header>

  <ion-navbar>    
    <ion-title>Hora e Fuso Horário</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bodyIonicApp">
  <ion-card>
    <ion-card-header>
      Fuso Horário
    </ion-card-header>
    <ion-item>
      Define o fuso horário.
      <br/>
    </ion-item>

    <ion-item>
      <ion-label>Horário de verão</ion-label>
      <ion-toggle color="secondary" (ionChange)="mudarHorarioVerao()" [ngModel]="horarioVerao"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Fuso Horário</ion-label>
      <ion-select [(ngModel)]="fusoHorario" placeholder="selecione..." okText="OK" cancelText="CANCELAR" #selectFuso>
        <ion-option value="-2">Horário de Fernando de Noronha</ion-option>
        <ion-option value="-3">Horário de Brasília</ion-option>
        <ion-option value="-4">Horário da Amazônia</ion-option>
        <ion-option value="-5">Horário do Acre</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button [disabled]="(fusoHorario == utc) && (horarioVerao == horarioVeraoAtual)" ion-button icon-left full color="secondary"
        (click)="mudarFusoHorario()">
        <ion-icon name="time"></ion-icon>
        Alterar Fuso Horário
      </button>
    </ion-item>
  </ion-card>
</ion-content>