<ion-header class="headerIonicApp">

  <ion-navbar>
    <ion-title>Reinicie o Aplicativo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center class="recarregarApp">
  <ion-img style="margin-top: 30px; background: transparent !important;" width="200" height="200" src="assets/imgs/RecarregarApp.png"></ion-img>

  <p>
    Por favor, reinicie o aplicativo.
    <br/>Antes, não se esqueça de ingressar a luminária na rede!
  </p>
</ion-content>