<ion-header>

  <ion-navbar>
    <ion-title>Informações da Luminária</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bodyIonicApp">

  <ion-card>
    <ion-card-header>
      Dados da Central
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-icon item-start name="create"></ion-icon>
        <ion-label floating>Nome da Central</ion-label>
        <ion-input [(ngModel)]="nome" type="text"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
  <button ion-button color="dark" (click)="gravar()" [disabled]="!nome" full round>
    <ion-icon item-start name="refresh-circle"></ion-icon>
    Atualizar
  </button>
</ion-content>