<ion-header>

  <ion-navbar>
    <!--button ion-button menuToggle block>
      <ion-icon name="menu"></ion-icon>
    </button-->
    <ion-title>
      Ajuste {{numeroPreset}}
      <ion-icon name="link" style="text-align: end; float: right; " [hidden]="!link" color=sol block></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header> 
<ion-content padding class="bodyIonicApp">
  
  <div class="divGraficoPresets">
      <table align="center">          
          <tr>          
            <td *ngFor = "let grafico of graficos; let ix = index">
              <circle-progress (click)="chartClicked(ix)"
                [backgroundColor] ="grafico.backgroundColor"
                [backgroundPadding]="grafico.backgroundPadding"
                [backgroundStrokeWidth]="grafico.backgroundStrokeWidth"
                [backgroundOpacity] ="grafico.backgroundOpacity"
                [showBackground] ="grafico.showBackground"
                [percent]="grafico.percentCanalManual"
                [radius]="grafico.radiusManual"
                [space]="grafico.space"
                [outerStrokeWidth]="grafico.outerStrokeWidth"
                [innerStrokeWidth]="grafico.innerStrokeWidthMaual"          
                [innerStrokeColor]="grafico.innerStrokeColor"
                [showInnerStroke]="grafico.showInnerStrokeManual"
                [outerStrokeColor]="grafico.corCanal"
                [animation]="grafico.animation"
                [animationDuration]="grafico.animationDuration"
                [showTitle]="grafico.showTitle"
                [titleFontSize]="grafico.titleFontSize"
                [titleColor] =  "grafico.titleColor"
                [subtitle] = "grafico.subtitle"
                [subtitleColor] = "grafico.subtitleColor"
                [subtitleFontSize] = "grafico.subtitleFontSizeManual"
                [showSubtitle]="grafico.showSubtitleManual"
                [responsive]="grafico.responsive"
                [outerStrokeLinecap]="grafico.outerStrokeLinecap"   
                [unitsColor] = "grafico.unitsColor"       
              ></circle-progress>
            </td>
          </tr>
        </table>
  </div>

  <ion-slides pager class="ionSlidePresets">
    <ion-slide *ngFor = "let grafico of graficos; let ix = index">
      <ion-item-group class="slideCanal{{ix+1}}"> 
        <div class="listra"></div>
        <ion-label style="margin-top: 10px;"> Canal {{grafico.numeroCanal}}: {{grafico.percentCanalManual | number: '1.0-0'}} %</ion-label>
           <ion-range min="0" max="1024" step="51.2" snaps="true" debounce="150" mode=ios 
           [(ngModel)]="this.presets[this.numeroPreset - 1][grafico.nomeCanal]" 
           (ionChange)="regulagemPreset()">
             <ion-icon range-left small name="sunny"></ion-icon>
             <ion-icon range-right name="sunny"></ion-icon>
           </ion-range>
         </ion-item-group>      
    </ion-slide>
  </ion-slides>

  <ion-list class="ionListHora">
    <ion-item-group>
      <ion-item-divider color=dark style="color: white">Início do preset {{numeroPreset}}</ion-item-divider>
      <ion-item>
        <ion-label>Transição gradual</ion-label>
        <ion-toggle (ionChange)="ligarDesligarGradual()" [ngModel]="gradual"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>
          Horário Inicial
        </ion-label>
        <ion-datetime doneText="Selecionar" cancelText="Cancelar" displayFormat="HH:mm" [max]="horaPosterior" [(ngModel)]="horaAtual"
          (ionChange)="ajustarTempoPreset()"></ion-datetime>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <!--button ion-button full color="primary" (click)="estadoEditarSalvar()" [hidden]="botaoEditarSalvar">
    <ion-icon range-right style="margin-right: 10px;" name="build"></ion-icon>
    Editar
  </button-->
  <button ion-button full color="secondary" (click)="salvarPresetJSON()" round>
    <ion-icon range-right style="margin-right: 10px;" name="cloud-upload"></ion-icon>
    Salvar
  </button>