page-presets {

}

ion-slides{
    height: 160px;
}

ion-list{
    display:block;
    position:relative;
}

.posicaoGraficos{
    display: block;
    margin: 0px 0px 0px 0px;
    height: 80px;
    width: 80px;   
}

.divGraficoPresets{
    display: table;
    margin: auto;
}

.listra {
    height: 15px;
    background: repeating-linear-gradient(
    45deg,
    rgb(129, 129, 128),
    rgb(83, 83, 82) 10px,
    rgb(53, 52, 52) 10px,
    rgb(39, 37, 38) 20px
    );    
}

.slideCanal1{
    font-size: 14px;
    background: linear-gradient(to right, transparent, whitesmoke, rgb(255, 255, 212));
}

.slideCanal2{
    font-size: 14px;
    background: linear-gradient(to right, transparent, royalblue, blue);
}

.slideCanal3{
    font-size: 14px;
    background: linear-gradient(to right, transparent,  rgb(192, 77, 77),  rgb(192, 77, 77));
}

.slideCanal4{
    font-size: 14px;
    background: linear-gradient(to right, transparent, green, green);
}

.slideCanal5{
    font-size: 14px;
    background: linear-gradient(to right, transparent, violet, violet);
}

.slideCanal6{
    font-size: 14px;
    background: linear-gradient(to right, transparent, lightblue, lightblue);
}

.slideCanal7{
    font-size: 14px;
    background: linear-gradient(to right, transparent, yellow, yellow);
}

.slideCanal8{
    font-size: 14px;
    background: linear-gradient(to right, transparent, pink, pink);
}

.slideCanal9{
    font-size: 14px;
    background: linear-gradient(to right, transparent, orange, orange);
}

.ionListHora{
   
}

.ionSlidePresets{
    font-size: 3px;
}