<ion-header class="headerIonicApp">
  <ion-navbar>
    <ion-title>Procurar Luminárias</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let servico of dadosLuminarias" #slidingMdns>
      <ion-item>
        <ion-icon name="sunny" style="text-align: start;"></ion-icon>
          Nome: {{servico.name}}<br/> 
          IP: {{servico.ipv4Addresses}}
        <ion-icon name="checkmark-circle" style="text-align: end; float: right;" color=secondary [hidden]="!servico.cadastrada"></ion-icon>
        <ion-icon name="arrow-dropright-circle" style="text-align: end; float: right;" color=primary [hidden]="servico.cadastrada"></ion-icon>
        <ion-icon name="arrow-dropdown-circle" style="text-align: end; float: right;" color=danger [hidden]="!servico.down"></ion-icon>
      </ion-item>
      <ion-item-options side="right"> 
        <button ion-button (click)="selecionarLuminaria(servico.name, servico.ipv4Addresses, slidingMdns)" color="secondary" [hidden]="servico.cadastrada">Adicionar</button>
        <button ion-button (click)="removerLuminaria(servico.name, servico.ipv4Addresses, slidingMdns)" color="danger" [hidden]="!servico.cadastrada" [disabled]="servico.selecionada">Remover</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button color="primary" icon-left full (click)="watchMDNS()" round>
    <ion-icon name="refresh-circle"></ion-icon>
    Localizar Novamente
  </button>
</ion-footer>