<ion-header>

  <ion-navbar>    
    <ion-title>Acesso Negado à esta luminária!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center class="acessoNegado">
  <!--ion-img style="margin-top: 60px; background: transparent !important;" 
  width="220" height="300" src="assets/imgs/ACESSO-NEGADO.png"></ion-img-->
  <!--p>
    O acesso à esta luminária foi negado.
    <br/> Você pode estar tentando acessar uma luminária já configurada para outro dispositivo,
    <br/>ou Isto pode ser sido causado por uma nova instalação do app Aurora.
    <br/> Neste último caso, tente realizar o reset na própria Luminária, configure-a
    <br/> conforme explicado no manual e tente acessá-la novamente.
  </p-->
</ion-content>